<nav>
<ul>
    <li><a href="/"><img src="/images/Logo.png" title="SwengScheduler"/> </a></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/organization/create">Request New Organization</a></li>
</ul>
</nav>