<a href="/<%= user != null ? 'dashboard' : '' %>"><img src="/images/sweng.png"  class="logo"></a>
<nav class="header-nav">
<ul>
    <% if(user == null || user.name == null) { %>
        <li><a class="button" href="/users/login">Login</a></li>
        <li><a class="button" href="/organization/create">Request New Organization</a></li>
    <% } else { %>
        <% if(user.role != "Employee" && user.role != "Admin") { %>
            <li><a class="buttonContainer" href="/admin"><img class="button-img" src="/images/admin.png" /></a></li>
        <% } %>
        <li><a class="button" href="/setup-2fa">Set Up 2 FA</a></li>
        <li><a class="button" href="/users/logout">Logout</a></li>
    <% } %>
</ul>
</nav>

