<div class="messages">
<% if(typeof messages != 'undefined') { %>
      <%  messages.forEach(function(msg) { %>
            <p class="alert <%= msg.type %>"> <%= msg.text %></p>
      <%  }) %>
<% } %>
</div>
