

<div style="display: flex; flex-direction: column; align-items: center; text-align: center; width: 100%">
    <a style="width: 25%" class="button" href="/dashboard">Dashboard</a>
    <a style="width: 25%" class="button" href="/Calendar/manage">Update Employees Calendar</a>
    <a style="width: 25%" class="button" href="/EmployeeList">Employees</a>
    <a style="width: 25%" class="button" href="/Cases">Cases List</a>
</div>