
<h1>Confirm 2fa</h1>
  
<form action="" method="POST">
    <div>
      <label for="code">Code</label>
      <input
        type="code"
        name="code"
        placeholder="Enter in 2fa code"
      />
    </div>
  
    <button type="submit" class="btn btn-primary btn-block">
    Confirm
    </button>
</form>

  
  