<html>
<head>
<title>SwengScheduler</title>
<link rel="stylesheet" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="header">
		<img src="/images/sweng.png"  class="logo">
    </div>
    <div id="content">
        <%- body %>
    </div>
</body>
</html>