<html>
<head>
<title>SwengScheduler</title>
<link rel="stylesheet" href="/css/default.css" />
</head>
<body>
    <div id="header">
		<img src="/images/sweng.png"  class="logo">
    </div>
    <div id="content">
        <%- body %>
    </div>
</body>
</html>