<h1 style="display: flex;
justify-content: space-between;
"
>Create</h1>
<form action="" method="POST">
<fieldSet>
  <legend>Information:</legend>

<div>
    <label for="description">Description</label>
    <textarea
      name="description"
      placeholder=""
      value="<%= '' %>"
    >
    </textarea>
</div>

<button type="submit" class="btn btn-primary btn-block">
    Create
</button>
</form>


