<div class="container">
  <div class="title">Create A New Case</div>
  <div class="content">
    <form action="" method="POST">
      <fieldSet>
          <legend>Information:</legend>
          <div class="user-details">
          <div class="input-box full-size">
              <span class="details">Description</span>
              <textarea class="input100"
              name="description"
              placeholder=""
              value="<%= '' %>"
            ></textarea>
          </div>
        </div>
      </fieldSet>

      <div class="container-login101-form-btn m-t-32 " >
      <button class="login101-form-btn button-form">
          Create
      </button>
    </div>
    </form>
  </div>
</div>

<!-- <h1 style="display: flex;
justify-content: space-between;
"
>Create</h1>
<form action="" method="POST">
<fieldSet>
  <legend>Information:</legend>

<div>
    <label for="description">Description</label>
    <textarea
      name="description"
      placeholder=""
      value="<%= '' %>"
    >
    </textarea>
</div>

<button type="submit" class="btn btn-primary btn-block">
    Create
</button>
</form>

 -->
