<h1>Forgot Password</h1>

<p class="callout">Enter your username or email to receive a password reset link</p>

<form action="" method="POST">
<div>
  <label for="login">Your Username or Email</label>
  <input
    type="text"
    name="login"
    placeholder="Username"
  />
</div>
  
 <button type="submit" class="btn btn-primary btn-block">
    Request Reset Link
  </button>
</form>

