<html>
<h1>Welcome to SwengScheduler</h1>
<p>Create an account or login</p>
<a href="/users/register" class="btn btn-primary btn-block mb-2"
  >Register</a>
<a href="/users/login"> Login</a>
<a href="/superuser/create" class="btn btn-primary btn-block mb-2"
  >SuperUser</a>
  <!-- this is to create a super user, it uses manager as inspiration -->
<a href="/manager/create" class="btn btn-primary btn-block mb-2"
  >Manager</a>
</html>